.wrapper {
    /* background-color: gray; */
    background-size: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px 10px;
    margin-bottom: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    font-family: 'Varela Round', sans-serif;
    color: black !important;
}

#siteText {
    color: black;
}

.btn-success {
    background-color: rgb(4, 174, 143);
    border-color: rgb(4, 174, 143);
    opacity: 0.60;
}




