.wrapper {
    /* background-color: gray; */
    background-size: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px 10px;
    margin-bottom: 20px;
    justify-content: space-around;
    align-content: flex-start;
    /* overflow: auto; */
    font-family: 'Roboto', sans-serif;
    color: black !important;
}

#siteText {
    color: black;
}

<<<<<<< HEAD
button {
    background-color: rgb(4, 174, 143);
    border-color: rgb(4, 174, 143);
    opacity: 0.9 !important;
    box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    font-family: 'Varela Round', sans-serif;
    color: white;
=======
.btn-success {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
>>>>>>> b45fda8aced79a21383d4be10527b3ba5489c518
}





