button, .btn-fluid, .btn-secondary {
    margin: 10px;
    border: 2px solid teal;
    background-color: rgba(0,0,0,0.0);
    color: black;
    padding: 5px 14px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    
}

