
.footer {
    background-color: #f99996;
    -webkit-box-shadow: 0 -14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 -14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: white;
    font-size: 18px;
    height: 50px;
    padding: 10px 0;
  }

 /* footer ideas */
  /* .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgb(127, 177, 156);;
    min-height: 20px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
    z-index: 99;
    padding-top: 8px;
} */