.navbar {
    background: #f99996;
    min-height: 70px;
    font-size: 18px;
    padding: 20px 0;
    width: 100%;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #fff;
    z-index: 99;
    white-space: nowrap;
    font-family: 'Raleway', sans-serif;
  }
  
  .navbar div {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .navbar div:first-child {
    letter-spacing: 1px;
    font-weight: 900;
  }
  
  .pipe {
    margin: 0 10px;
  }
  
  .correct {
    animation: correctGuess 0.5s;
  }
  .incorrect {
    animation: incorrectGuess 0.5s;
  }
  
  @keyframes incorrectGuess {
    0% {
      color: white;
    }
    25% {
      color: red;
    }
    75% {
      color: red;
    }
    100% {
      color: white;
    }
  }
  
  @keyframes correctGuess {
    0% {
      color: white;
    }
    25% {
      color: green;
    }
    75% {
      color: green;
    }
    100% {
      color: white;
    }
  }
  
  @media (min-width: 576px) {
    .navbar {
      display: flex;
      position: fixed;
      justify-content: space-around;
      font-size: calc(10px + 14 * (100vw - 320px) / 800);
    }
  
    .navbar div {
      margin-bottom: 0;
      text-align: center;
      width: 33.333%;
    }
  }
